<mat-card-title class="mat-card-title">
    <div class="contentHeader">
        <p>MAL Manager</p>
        <button mat-raised-button color="primary" class="button pull-right" [routerLink]="['/config']">
            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">settings_applications</mat-icon>
            Configuration Settings
        </button>
        <button mat-raised-button color="primary" class="button pull-right" (click)="addPayerView()">
            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">add_circle</mat-icon> Add New
        </button>

    </div>
</mat-card-title>
<mat-card-content class="mat-card-content">
    <mat-card class="mat-card" *ngFor="let view of payerViewList; let viewIndex = index;">
        <mat-card-content class="mat-card-content">
            <div class="delPayer">
                <button class="md-button md-small del-payer" *ngIf="payerViewList.length > 1" mat-fab color="warn"
                    (click)="removePayerForm(viewIndex)">-</button>
            </div>
            <div class="payerForm">
                <form #payer="ngForm" name="payer{{viewIndex}}" (submit)="submitPayer(viewIndex,payer)" class="form">
                    <div class="selectPayer">
                        <mat-form-field class="mat-form-field mode" appearance="outline">
                            <mat-label>Select Payer</mat-label>
                            <mat-select placeholder="Select Payer *" name="payerName" ngModel required>
                                <mat-option *ngFor="let payer of payerList;" [value]="payer">
                                    {{payer.payerName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="mat-form-field mode" appearance="outline">
                            <mat-label>Provider NPI</mat-label>
                            <input matInput type="text" [value]="1316206220" placeholder="Provider NPI *" name="npi"
                                ngModel required>
                        </mat-form-field>
                        <mat-form-field class="mat-form-field mode" appearance="outline">
                            <mat-label>Provider TAX Id</mat-label>
                            <input matInput type="text" [value]="789456231" placeholder="Provider TAX Id *" name="taxId"
                                ngModel required>
                        </mat-form-field>
                        <div class="form-element">
                            <button mat-raised-button color="primary" type="submit" class="button"
                                [disabled]="payer.value.payerName == '' || payer.value.npi == '' || payer.value.taxId == ''">Discover
                                MAL</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="groupTable" *ngIf="payerViewList[viewIndex].groupDetails.length > 0">

                <table id="groupTable" mat-table [dataSource]="payerViewList[viewIndex].groupDetails"
                    class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> #. </th>
                        <td mat-cell *matCellDef="let element">{{element.position}}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="groupName">
                        <th mat-header-cell *matHeaderCellDef> Group Name </th>
                        <td mat-cell *matCellDef="let element">{{element.groupName}}</td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="contractInfo">
                        <th mat-header-cell *matHeaderCellDef> Contract Information </th>
                        <td mat-cell *matCellDef="let element">{{element.contractInfo}}</td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="memberInfo">
                        <th mat-header-cell *matHeaderCellDef> Members Information </th>
                        <td mat-cell *matCellDef="let element">No. of Patients - {{element.memberLength}}</td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element" class="action">
                            <button mat-raised-button color="primary" class="button"
                                [disabled]="element.contentLocation != ''"
                                (click)="getLocation(viewIndex,element.groupId)">Download</button>
                            <button mat-raised-button color="primary" class="button"
                                [disabled]="element.contentLocation == ''"
                                (click)="getPatientDetail(viewIndex,element.groupId)">View</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="groupColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: groupColumns;"></tr>
                </table>
            </div>
            <div class="patientTable" *ngIf="payerViewList[viewIndex].patientDetails.length > 0">
                <p class="patientViewHeading">Patient View</p>
                <button mat-raised-button color="primary" class="button exportBtn"
                    (click)="patientTable.exportTable('csv',{fileName:'PatientDetails'})">Export to CSV</button>
                <mat-form-field class="mat-form-field column" appearance="outline">
                    <mat-label>Select columns</mat-label>
                    <mat-select multiple placeholder="Select columns" name="payerName" [value]="patientColumnsObj"
                        (selectionChange)="filterColoumns(viewIndex,$event)">
                        <mat-option *ngFor="let column of patientColumnsObj;" [value]="column">
                            {{column.label}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <table matTableExporter id="patientTable" #patientTable="matTableExporter" mat-table
                    [dataSource]="payerViewList[viewIndex].patientDetails" class="mat-elevation-z8">
                    <ng-container *ngFor="let column of patientColumnsArr[viewIndex]" matColumnDef="{{column.name}}">
                        <th mat-header-cell *matHeaderCellDef>{{column.label}}</th>
                        <td mat-cell *matCellDef="let element"> {{element[column.name]}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="filteredPatientColumns[viewIndex]"></tr>
                    <tr mat-row *matRowDef="let row; columns: filteredPatientColumns[viewIndex];"></tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</mat-card-content>