.mat-card-title{
    display: flex;
    justify-content: space-between;

    .contentHeader{
        font-size: 2.5rem;
        font-weight: 400;
        width: 100%;

        p{
            margin: 0px;
            float: left;
        }
        button{
            float: right;
            margin-left: 20px;
        }
    }
}
.mat-card-content{
    .mat-card {
        margin: 10px 0; 
        .delPayer{
            display: flex;
            margin: 0px;
            flex-direction: row-reverse;

            .mat-fab{
                margin: 0;
                width: 38px;
                height: 38px;
                float: right;

                ::ng-deep .mat-button-wrapper {
                    padding: unset;
                    line-height: unset;
                    font-size: 30px;
                }
            }
        } 
        .selectPayer{
            margin: 15px 0px;
            display: flex;
            justify-content: space-between;
            .mat-form-field{
                width: 28%;

                ::ng-deep .mat-form-field-wrapper {
                    padding-bottom: 0;
                }
            }
            button{
                margin: 4px 0px;
                height: 50px;
            }
        }
        .groupTable{
            margin: 15px 0px;

            table.mat-table {
                width: 100%;
                .action{
                    button{
                        margin: 0 4px;
                    }
                }
            }
        } 
        .patientTable{
            margin: 15px 0px;

            .column{
                float: right;
            }            
            table.mat-table {
                width: 100%;
            }

            .exportBtn{
                float: right;
                margin: 10px 0px 0px 20px;
            }

            .patientViewHeading{
                float: left;
                font-size: 1.5rem;
            }
        }  
    } 
}