$body-min-height: 75vh;

.main-container{
    width: 100%;
    position: relative;
    z-index: unset;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow: hidden;
    min-height: 77%;
    background-color: #fafafa;
    color: rgba(0,0,0,.87);

    .mat-sidenav{
        min-height: $body-min-height;
        overflow-y: auto;
        background: #fff;
        width: 18vw;
        border-right: 1px solid #ddd;
        box-shadow: 0 0 5px #ddd;
        z-index: unset;
    }
    .main-content{        
        min-height: $body-min-height;
        overflow-y: auto;
        background: url("../assets/bg_companies.jpg") center -96px no-repeat;
        background-size: 100% 460px;

        .mat-card{
            max-width: 1140px;
            margin: 30px auto;
            font-size: 14px;
            background: #fff;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            
            ::ng-deep {
                .mat-card-title{
                    font-size: 1.5em;
                    font-weight: 400;
                }
                .mat-card-content{
                    padding: 10px 0px;
                }
                .mat-divider{
                    border-top-color: rgba(0,0,0,.12);
                }
            }
        }
    }
}