<table mat-table [dataSource]="payersList" class="mat-elevation-z8">
  
    <ng-container matColumnDef="payerName">
      <th mat-header-cell *matHeaderCellDef> Payer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.payerName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="serverUrl">
      <th mat-header-cell *matHeaderCellDef> FHIR Server URL </th>
      <td mat-cell *matCellDef="let element"> {{element.serverUrl}} </td>
    </ng-container>

    <ng-container matColumnDef="membersInformation">
      <th mat-header-cell *matHeaderCellDef> Members Information </th>
      <td mat-cell *matCellDef="let element">
          <span *ngIf="element.groupId != ''">{{element.groupId}}</span>
          <button *ngIf="element.groupId == ''" mat-raised-button color="primary" (click)="getMemberInfo(element.payerName)">Get</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="extractInformation">
      <th mat-header-cell *matHeaderCellDef> Extract Members Information </th>
      <td mat-cell *matCellDef="let element">    
        <span *ngIf="element.contentLocation != ''">{{element.contentLocation}}</span>      
        <button *ngIf="element.contentLocation == ''" [disabled]="element.groupId == ''" mat-raised-button color="primary" (click)="extractInfo(element.groupId,element.payerName)">Extract</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary">View</button>
      </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
