<nav class="navbar">
    <div class="logo">
        <a href="https://52.70.192.201/CRD-v2/">
            <img src="assets/da-vinci_logo.jpg" height="50px" width="150px" alt="Cambia Health Solutions"
                style="margin-right: 50px;">
        </a>
        <a href="https://52.70.192.201/CRD-v2/">
            <img src="assets/Cambia-Health-Solutions-Logo.svg" height="50px" width="150px"
                alt="Cambia Health Solutions">
        </a>
    </div>
    <!-- <div class="headermenu">
        <ul>
            <li *ngFor="let link of headerMenus;" [ngClass]="routerLinkActive ? 'active':''" routerLinkActive="active">    
                <a routerLink="{{link.routerLink}}" [ngClass]="routerLinkActive ? 'active':''" routerlinkactive="active">
                    <div class="mat-list-item-content">
                        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">{{link.linkIconName}}</mat-icon>
                        <span >{{link.linkName}}</span>
                    </div>
                </a>
            </li>
        </ul>
    </div> -->
</nav>