.mat-list-item {
    cursor: pointer;
    outline: 0;

    &.active{
        background-color: #3f51b5;
        color: #fff;

        a{
            color:#fff;
        }
    }

    .mat-list-item-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        padding: 0 16px;
        position: relative;
        height: inherit;
    }
}