footer{
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    color: #fff;
    
    .footer-utility{
        background: #577d88;
        font-size: 14px;
        color: #90adb6;
        padding: 20px 100px;
    }
}