<mat-card-title class="mat-card-title">
    <div class="contentHeader">
        <p>Payer Configuration Settings</p>
        <button mat-raised-button color="primary" class="button pull-right btnStyles" [routerLink]="['/home']">
            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">person</mat-icon>
            MAL Manager
        </button>
        <button mat-raised-button color="primary" class="button pull-right btnStyles" (click)="addPayerForm()">
            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">add_circle</mat-icon> Add a New
            Payer
        </button>
    </div>
</mat-card-title>
<!-- <mat-divider class="mat-divider"></mat-divider> -->
<mat-card-content class="mat-card-content">
    <div class="payerConfig">
        <form [formGroup]="payersForm" (submit)="submitPayer(payersForm.value)" class="form">
            <div *ngFor="let payer of p.controls; let i = index" class="subForm">
                <div class="delPayer">
                    <button class="md-button md-small del-payer" *ngIf="p.length > 1" mat-fab color="warn"
                        (click)="removePayerForm(i)">-</button>
                </div>
                <div [formGroup]="payer" class="form-container payerForm">
                    <label class="payerLable">Payer {{i+1}}</label>
                    <mat-grid-list cols="2">
                        <mat-form-field class="mat-form-field mode" appearance="outline" style="width: 45%;">
                            <mat-label>Payer Name *</mat-label>
                            <input matInput type="text" placeholder="Payer Name *" formControlName="payerName">
                        </mat-form-field>
                        <mat-form-field class="mat-form-field mode" appearance="outline" style="width: 45%;">
                            <mat-label>Payer URL *</mat-label>
                            <input matInput type="text" placeholder="Payer URL *" formControlName="payerUrl">
                        </mat-form-field>
                    </mat-grid-list>


                    <!-- <mat-form-field class="mat-form-field mode" appearance="outline">                        
                        <mat-label>Client Id</mat-label>
                        <input matInput type="text" placeholder="Client Id" formControlName="clientId">
                    </mat-form-field>                   
                    <mat-form-field class="mat-form-field mode" appearance="outline">                        
                        <mat-label>Token Endpoint</mat-label>
                        <input matInput type="text" placeholder="Token Endpoint" formControlName="tokenEndpoint">
                    </mat-form-field>                   
                    <mat-form-field class="mat-form-field mode" appearance="outline">                        
                        <mat-label>JWKS URL</mat-label>
                        <input matInput type="text" placeholder="JWKS URL" formControlName="jwksUrl">
                    </mat-form-field>                                     
                    <mat-form-field class="mat-form-field mode" appearance="outline">                        
                        <mat-label>Public Key</mat-label>
                        <textarea matInput placeholder="Public Key" formControlName="publicKey"></textarea>
                    </mat-form-field>                                   
                    <mat-form-field class="mat-form-field mode" appearance="outline">                        
                        <mat-label>Private Key</mat-label>
                        <textarea matInput placeholder="Private Key" formControlName="privateKey"></textarea>
                    </mat-form-field>                     -->
                </div>
                <mat-divider class="mat-divider"></mat-divider>
            </div>
            <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button submitBtn"
                    [disabled]="!payersForm.valid">Save</button>
            </div>
        </form>
    </div>
</mat-card-content>
<!-- <mat-card-title class="mat-card-title">
    <span>Execute Bulk Data API's</span>
</mat-card-title>
<p>The Execute Bulk Data API's component allows one to input a FHIR Server of choice and execute the Bulk Data API's live and examine how the server interacts. If you dont have a FHIR Server, you can use the SITE FHIR Server to execute the APIs.</p>
<mat-divider class="mat-divider"></mat-divider>
<mat-card-content class="mat-card-content">
    <span class="title">Please Enter your FHIR Server to execute Bulk Data API's</span>
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Payer Configuration Settings</mat-panel-title>
            </mat-expansion-panel-header> 
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Payer Information Config</mat-panel-title>
            </mat-expansion-panel-header>    
            <div class="colums">    
                <div class="width-50 config-container">                    
                    <button class="md-button md-small" mat-fab color="primary" (click)="addPayerForm()">+</button>
                    <form [formGroup]="payersForm" (submit)="submitPayer(payersForm.value)" class="form">

                        <div *ngFor="let payer of p.controls; let i = index">
                            <button class="md-button md-small pull-right" *ngIf="p.length > 1" mat-fab color="warn" (click)="removePayerForm(i)">-</button>
                        <div [formGroup]="payer" class="form-container">
                            <label>Select FHIR Server Type *</label>
                            <mat-radio-group aria-label="Select FHIR Server Type *" formControlName="serverType">
                                <mat-radio-button *ngFor="let server of serverTypes;" [value]="server.value"  (change)="configForm(server.value,payer)">{{server.name}}</mat-radio-button>
                            </mat-radio-group>
                            <mat-form-field class="mat-form-field mode">
                                <input matInput type="text" placeholder="Payer Name *" formControlName="payerName">
                            </mat-form-field>
                            <mat-form-field class="mat-form-field mode">
                                <input matInput type="text" placeholder="FHIR Server URL *" formControlName="serverUrl">
                            </mat-form-field>
                            <mat-form-field class="mat-form-field mode" *ngIf="payer.controls.serverType.value == 'secure'">
                                <input matInput type="text" placeholder="Issuer URI *" formControlName="issuerUri">
                            </mat-form-field>
                            <mat-form-field class="mat-form-field mode" *ngIf="payer.controls.serverType.value == 'secure'">
                                <input matInput type="text" placeholder="Client Id *" formControlName="clientId">
                            </mat-form-field>
                            <mat-form-field class="mat-form-field mode" *ngIf="payer.controls.serverType.value == 'secure'">
                                <input matInput type="text" placeholder="Server Token URL *" formControlName="serverTokenUrl">
                            </mat-form-field>                
                            <mat-form-field class="mat-form-field mode" *ngIf="payer.controls.serverType.value == 'secure'">
                                <mat-select placeholder="Select Scopes *" multiple formControlName="scopes">
                                    <mat-option *ngFor="let scope of scopeList;" [value]="scope.value">{{scope.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="select-file" *ngIf="payer.controls.serverType.value == 'secure'">
                                <input (change)="onFileInput($event,payer)" formcontrolname="privateKey" id="input-file-id{{i}}" style="display: none;" type="file">
                                <button  color="primary" for="input-file-id" 
                                    mattooltip="select Private Key" 
                                    (click)="clickFileSelect(i)" 
                                    type="button" 
                                    class="mat-raised-button mat-primary">
                                    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">attach_file</mat-icon> Select Private Key
                                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button>
                                <span style="padding-left: 10px;">{{fileName}}</span>
                            </div>
                        </div>
                        </div>
                        <div class="form-element">
                            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!payersForm.valid">Save</button>
                        </div>
                    </form>
                </div>
                <div class="width-50">
                    <p>The tools used here (including clients and servers) provide no protection of any data used during the tests, including but not limited to client secrets and access tokens. Please do not point this reference implementation to any data that contains PII (Personally Identifiable Information) and PHI (Protected Health information).</p>
                    <p>If you are new to the Bulk Data APIs, Select the SITE Server Open or Secure button to use our test server for testing and hit Save</p>

                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Provider Information Config</mat-panel-title>
            </mat-expansion-panel-header>            <div class="colums">    
                <div class="width-50 config-container">
                    <form [formGroup]="formProvider" (submit)="submitProvider(formProvider.value)" class="form">
                        <div class="form-container">
                            <mat-form-field class="mat-form-field mode">
                                <input matInput type="text" placeholder="NPI *" formControlName="npi">
                            </mat-form-field>
                            <mat-form-field class="mat-form-field mode">
                                <input matInput type="text" placeholder="TAXID *" formControlName="taxId">
                            </mat-form-field>
                            <div class="form-element">
                                <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formProvider.valid">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="width-50">
                    <p>The tools used here (including clients and servers) provide no protection of any data used during the tests, including but not limited to client secrets and access tokens. Please do not point this reference implementation to any data that contains PII (Personally Identifiable Information) and PHI (Protected Health information).</p>
                    <p>If you are new to the Bulk Data APIs, Select the SITE Server Open or Secure button to use our test server for testing and hit Save</p>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card-content> -->